<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="inputFolder" value="\\winphonelabs\Scratch\Users\Communications\JingZhao\Original"/>
      <add key="outputFolder" value="\\winphonelabs\Scratch\Users\Communications\JingZhao\Final"/>
    </appSettings>
</configuration>